.warnings {
  padding: 0 34px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: #757474;
    margin-bottom: 50px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.item {
  width: 100%;
  max-width: 346px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: var(--color-box);
  padding: 16px;

  p {
    width: 100%;
    max-width: 250px;
    font-size: 12px;
    color: var(--color-text--tertiary);
    line-height: 160%;
    text-align: center;
  }
}
