.container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  overflow-y: auto;
}
.chatRequest,
.chatResponse {
  padding: 26px 34px;
  display: flex;
}
.chatRequest {
  justify-content: space-between;
  align-items: center;
  background-color: transparent;

  .info {
    display: flex;
    align-items: center;
    gap: 12px;

    & > img {
      width: 37px;
      height: 37px;
      border-radius: 6px;
    }

    span {
      width: 100%;
      max-width: 200px;
      font-size: 12px;
      line-height: 160%;
      font-weight: 500;
      color: var(--color-text--secondary);
    }
  }
}

.chatResponse {
  flex-direction: column;
  background-color: var(--color-box);
  gap: 24px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > svg {
      width: 45px;
      height: 45px;
      path {
        fill: var(--color-text--primary);
      }
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  span {
    font-size: 12px;
    line-height: 160%;
    font-weight: 500;
    color: var(--color-text--secondary);
  }
}

.chatInput {
  width: 100%;
  max-width: 300px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
  margin: 24px auto 0;
  border: 1px solid var(--color-text--tertiary);
  border-radius: 12px;

  input {
    border: none;
    outline: none;
    background-color: transparent;
    flex: 1;
    color: var(--color-text--secondary);

    &::placeholder {
      color: var(--color-text--tertiary);
    }
  }

  svg path {
    fill: var(--color-text--tertiary);
  }
}
