:root {
  --color-text--primary: #212121;
  --color-text--secondary: #2f2f2f;
  --color-text--tertiary: #494949;
  --color-bg: #ffffff;
  --skip-button: #d7d7d7;
  --color-box: #f7f7f8;
}

.dark {
  --color-text--primary: #ffffff;
  --color-text--secondary: #8e9295;
  --color-text--tertiary: #a0a0a5;
  --color-bg: #141718;
  --skip-button: #d7d7d7;
  --color-box: #232627;
}
