@use "../abstracts/breakpoints";
@use "../themes/tokens" as *;

* {
  font-family: "DM Sans", sans-serif;
}

html {
  font-size: 100%; // 16px base
  line-height: 1.5;
}

body {
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color-text);
  background-color: var(--color-bg);
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

button {
  border: none;
}
